nav-body {
  /* margin: 0; */
  position: sticky;
  right: 0;
  padding-right: 20px;
  top: 0;
  z-index: 100;
  background-color: #fff;
  left: 0;
  display: flex;
  justify-content: space-between;
  height: 58px;
  align-items: center;
}
